[user]
  name = yuzuemon
  email = killerqueen64@gmail.com
[core]
  excludesfile = ~/dotfiles/.gitignore_global
  precomposeunicode = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[color]
  diff = auto
  ui = true
[alias]
  a  = add
  au = add -u
  cm = commit -m
  co = checkout
  cb = checkout -b
  d  = diff
  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  m  = merge
  p  = pull
  ps = push
  psu= push -u
  s  = status
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[push]
  default = simple
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
