[user]
	name = yuzuemon
	email = killerqueen64@gmail.com
[core]
	excludesfile = /Users/yuzuru.nakamura/.gitignore_global
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	diff = auto
	ui = true
[alias]
	co = checkout
